<nav class="box">
  <div class="box-text">
    <b><h1>NOVA ADMISSÃO COOPERADO</h1></b>
    <small>Cadastro / Admissão do Cooperado / Nova Admissão de Cooperado</small>
  </div>
  <div class="box-info">

    <div class="box-info--notification">
      <mat-icon matBadge="7" matBadgeColor="warn">notifications_none</mat-icon>
    </div>

    <button>VIACREDI</button>

    <div
      [ngStyle]="{'background-image': 'url(https://media.licdn.com/dms/image/D4D03AQEgaxBFZH3hzA/profile-displayphoto-shrink_400_400/0/1664747214833?e=1680134400&v=beta&t=WBrhBKmshBRvo8e6ZR0u9xHf8ePRbSDlscakIVj8VtI)'}"
      class="avatar"
    >
      <mat-icon>settings</mat-icon>
    </div>

  </div>
</nav>