<section id="consultation">
  <app-steps></app-steps>  

  <section class="row">
    <aside class="content">

      <div class="content-info">
        <h1>Informe o CPF do futuro cooperado (a)</h1>
        <p>Se necessário, você poderá duplicar uma conta existente ou pausar e retomar este cadastro futuramente.<br/>
          Digite apenas os números (sem pontos ou traços). </p>
      </div>

      <form class="form-row" #form="ngForm" (ngSubmit)="handlePartner(form)" >
        <div class="form-col">
          <label>CPF</label>
          <input 
            id="cpf"
            name="cpf" 
            ngModel 
            #cpf="ngModel" 
            mask="000.000.000-00" 
            required 
            [ngClass]="cpf.invalid ? 'error-input' : ''"
          />
          <div *ngIf="cpf.invalid && (cpf.dirty || cpf.touched)">
            <div class="error error-label" *ngIf="cpf.errors?.['required']">Campo CPF é obrigatório*</div>
          </div>
        </div>
        <div class="form-col">
          <button type="submit" class="button-primary">Consultar por CPF</button>
        </div>
      </form>

    </aside>

    <footer>
      <button class="button-primary button-primary--reversed">Dicas para admissão</button>
    </footer>

  </section>

</section>