#consultation {
  padding: 1rem;
  
}

.row {
  width: 100%;

  & .content {
    width: 50%;
    padding-bottom: 5rem;

    &-info {
      & h1 { font-size: 22px; margin: 1.5rem 0 .2rem }
      & p { font-size: 11px; color: #4F575E }
    }
    
  }

  & footer {
    width: 100%;
    height: 5rem;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 5.5rem;
    z-index: 1;
    box-shadow: 0 0 4px rgba(0,0,0,.25);
  }

}

.form-row {
  width: 100%;
  display: flex;

  & .form-col:first-child {width: 40%;padding-right: 1rem;}
  & .form-col:last-child {width: 40%;}

  & label {
    color: #040F14;
    font-weight: 600;
  }

  & input {
    width: 100%; 
    border: 1px solid #889499;
    padding: .5rem;
    border-radius: 2px;
  }

}