<section id="cooperated">
  <app-steps></app-steps>  

  <section class="row">
    <aside class="content">

      <div class="content-info">
        <h1>Informe o CPF do futuro cooperado (a)</h1>
        <p>Se necessário, você poderá duplicar uma conta existente ou pausar e retomar este cadastro futuramente.<br/>
          Digite apenas os números (sem pontos ou traços). </p>
      </div>

      <form class="form-row">
        <div class="form-col">
          <label>CPF</label>
          <input name="cpf" mask="000.000.000-00" />
        </div>
        <div class="form-col">
          <button class="button-primary">Consultar por CPF</button>
        </div>
      </form>

      <div class="content-cards">
        <div class='card'>
          <header>
            <h4><b>Situação cadastral do CPF</b></h4>
            <p>Consulta na Receita Federal</p>
          </header>
          <section>
            <aside>
              <div><mat-icon>person</mat-icon></div>
              <div>
                <span>Nome</span>
                {{partner.nome}}
              </div>
            </aside>
            <aside>
              <div><mat-icon>check_circle</mat-icon></div>
              <div>
                <span>Situação do CPF</span>
                Regular
              </div>
            </aside>
          </section>
        </div>
      </div>

    </aside>

    <footer>
      <button class="button-primary">Iniciar nova admissão</button>
      <button class="button-primary button-primary--reversed">Dicas para admissão</button>
    </footer>

  </section>

</section>