.steps {
  width: 55%;
  height: 4.5rem;
  max-width: 50rem;
  margin: 0 auto;

  & ul { 
    display: flex;
    gap: 1rem;
    padding: 0;

    & li {
      width: 25%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      position: relative;
      color: #165C7D;
      font-size: 14px;

      & .icon {
        width: 18px;
        height: 18px;
        border: 2px solid rgba(0,0,0,.01);
        background-color: #C6CED1;
        border-radius: 100%;    
        position: relative;
        z-index: 1;    
      }

      & .icon-active {
        background-color: transparent;
        border-color: #165C7D;
      }

      & .bar {
        height: 2px;
        background-color: #C6CED1;
        width: 100%;
        position: absolute;
        top: 9px;
        left: 55%;
      }

      & .disabled {
        color: #889499;
      }

    }
  }
}