
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$gft-ailos-primary: mat.define-palette(mat.$indigo-palette);
$gft-ailos-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$gft-ailos-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$gft-ailos-theme: mat.define-light-theme((
  color: (
    primary: $gft-ailos-primary,
    accent: $gft-ailos-accent,
    warn: $gft-ailos-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($gft-ailos-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; }
* {font-family: "Open Sans", sans-serif;}

.mat-toolbar, .mat-toolbar h1, .mat-toolbar h2, .mat-toolbar h3, .mat-toolbar h4, .mat-toolbar h5, .mat-toolbar h6  
{font-family: 'Exo', sans-serif;}

.mat-badge-medium .mat-badge-content {
  width: 16px;
  height: 16px;
  line-height: 22px;
  top: -5px!important;
  font-size: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.mat-step-header {
  margin: 0;
  padding: 0!important;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  

  & span {display: none;color: rgba(0,0,0,.12);}
}

.mat-horizontal-stepper-header .mat-step-icon {
  background-color: rgba(0,0,0,.12);
}

.mat-step-header.cdk-keyboard-focused, .mat-step-header.cdk-program-focused, .mat-step-header:hover:not([aria-disabled]), .mat-step-header:hover[aria-disabled=false] {
  background-color: transparent;
}

.mat-stepper-horizontal-line {
  border-top-width: 2px!important;
  margin: 0 -40px!important;
  padding-bottom: 1rem
}

.button-primary {
  padding: .5rem 1rem;
  background-color: #165C7D;
  font-weight: 500;
  border-radius: 2px;
  color: #fff;
  border: none;
  margin-top: 1.3rem;
  margin-left: 1rem;
  cursor: pointer;
  transition: 1s;

  & :hover {
    background-color: #114a65;
  }

  & :disabled {
    background-color: #A2BECB;
  }

  &--reversed {
    background-color: #fff;
    color: #165C7D;
    border: 1px solid #165C7D;
    
    & :hover {
      background-color: #f1f1f1;
    }
  }

}
